.dashboardImage {
  max-height:350px;
  min-width: 507px;
   display: block;
    margin: auto;
}
@media screen and (min-width: 500px){
	.dashboardImageMinWidth{
		min-width: 507px;
	}
}
@media screen and (max-width: 500px){
	.dashboardImageMinWidth{
		min-width: 100%;
	}
}

.popularImage {
	height: 60px;
	width:60px;
}

.homePageImage {
  height:250px;
  width: 350px;
   display: block;
    margin: auto;
}

.homePageCells{
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
}

.logoMoto{
    font-size: 13px;
    margin-top: -14px;
    /* float: left; */
    margin-left: 46px;
}

.logoCss{
	margin-left: -30px;
	display: block;
	max-width:48%;
	max-height: 60%;
}

.imageCategories{
	width:270px;
	height: 220px;
}

@media screen and (min-width: 700px){
	.fontDescription{
		font-family: 'Raleway', sans-serif;
	    font-size: 13.5px;
	}
}
@media screen and (max-width: 700px){
	.fontDescription{
		font-family: 'Raleway', sans-serif;
	    font-size: 11px;
	}
}

.fontAboutUs{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.languageCheck {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
    top:0;
    z-index: 90;
    max-height: 50px;
    background-color: rgba(147,88,108,0.4);
}

.languageCheckText{
	margin-top: 20px;
	visibility: hidden;
	 position: relative;
	 float: right;
	 text-align: center;
	 width: 100%;
	 line-height: 1;
	 font-family: monospace;
	 font-weight: 10;
}

.userImg{
  height: 50px;
  width:50px:
}

.vbHidden{
	visibility: hidden;
}

.errorPage{
	width: 100%;
	height: 200px;
}
.errorText{
	text-align: center;
	font-size: 40px;
	color: rgba(19,48,57,0.8);
	margin-top: 10%;
}
.errorTitle{
	text-align: center;
	font-size: 25px;
	color: rgba(97,61,72,0.8);
	margin-bottom: -5%;
	width: auto;
}

.content-bg{
	background-color: rgba(251, 245, 246, 0.8);
	padding-top:5%;
	padding-bottom: :5%;
}

.privacyContainer{
	padding-top:-10%;
	padding-bottom: :5%;
	padding-left: 4%;

}
.privacyTitle{
	font-size: 21px;
	padding-left:5%;
	padding-top:2%;
	text-shadow: 1px 1px 0 #fdfdfd, 2px 2px 0 rgba(81, 81, 81, 0.5), 0 0 1px #fdfdfd;
    background: #f8f8f8;
    padding: 10px 5px;
    margin: 0px 0px 20px 0px;
    border-bottom: 1px dotted #a9a9a9;
    border-top: 1px dotted #a9a9a9;	
}
.privacyContent{
	font-size: 18px;
	padding-left:1%;
	margin-top:2%;
	padding-bottom: 5%;
	font-family: "Arial, Halvetica, Serif, Sans-Serif";
}

.aboutUsContainer{
	padding-top:-10%;
	padding-bottom: :5%;
	padding-left: 4%;

}
.aboutUsTitle{
	font-size: 21px;
	padding-left:5%;
	padding-top:2%;
	text-shadow: 1px 1px 0 #fdfdfd, 2px 2px 0 rgba(81, 81, 81, 0.5), 0 0 1px #fdfdfd;
    background: #f8f8f8;
    padding: 10px 5px;
    margin: 0px 0px 20px 0px;
    border-bottom: 1px dotted #a9a9a9;
    border-top: 1px dotted #a9a9a9;	
}
.aboutUsContent{
	font-size: 18px;
	padding-left:1%;
	margin-top:2%;
	padding-bottom: 5%;
	font-family: "Arial, Halvetica, Serif, Sans-Serif";
}

.gAds{
	margin-top: 10%;
}

@media screen and (max-width: 700px) and and (min-width: 500px){
	.errorText{
		font-size: 25px;
	}
	.errorTitle{
		font-size: 15px;
	}
	.privacyContent{
		font-size: 15px;
	}
	.aboutUsContent{
		font-size: 15px;
	}
}

@media screen and (max-width: 500px){
	.errorText{
		font-size: 18px;
	}
	.errorTitle{
		font-size: 8px;
	}
	.privacyContent{
		font-size: 8px;
	}
	.aboutUsContent{
		font-size: 8px;
	}
}

.titleSize{
	font-size: 24px;
	line-height: 40px;
}

.breadCrumbs{
	margin-top: -1%;
    margin-left: 2%;
}

.breadCrumbs h5 a {
	color: black;
	cursor: pointer;
}

.factQuizSlider{
	height: 200px;
	text-align: center;
}