.dashboardImage {
  max-height:350px;
  min-width: 507px;
   display: block;
    margin: auto;
}
@media screen and (min-width: 500px){
	.dashboardImageMinWidth{
		min-width: 507px;
	}
}
@media screen and (max-width: 500px){
	.dashboardImageMinWidth{
		min-width: 100%;
	}
}

.popularImage {
	height: 60px;
	width:60px;
}

.homePageImage {
  height:250px;
  width: 350px;
   display: block;
    margin: auto;
}

.homePageCells{
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
}

.logoMoto{
	font-size:13px;
	margin-top: -15px;
	float: left;
}

.logoCss{
	margin-left: -30px;
	display: block;
	max-width:48%;
	max-height: 60%;
}

.imageCategories{
	width:270px;
	height: 220px;
}
@media screen and (min-width: 700px){
	.fontDescription{
		font-family: 'Raleway', sans-serif;
	    font-size: 13.5px;
	}
}
@media screen and (max-width: 700px){
	.fontDescription{
		font-family: 'Raleway', sans-serif;
	    font-size: 11px;
	}
}

.fontAboutUs{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

