.dashboardImage {
  max-height:350px;
  min-width: 507px;
   display: block;
    margin: auto;
}
@media screen and (min-width: 500px)
.dashboardImageMinWidth{
	min-width: 507px;
}
@media screen and (max-width: 500px)
.dashboardImageMinWidth{
	min-width: 100%;
}

.popularImage {
	height: 60px;
	width:60px;
}

.homePageImage {
  height:250px;
  width: 350px;
   display: block;
    margin: auto;
}

.homePageCells{
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
}

.logoMoto{
	float:left;
	font-size:12px;
	margin-top: -15px;
}

.logoCss{
	margin-left: -30px;
	display:block;
	max-width:62%;
}

.fontDescription{
	font-family: 'Raleway', sans-serif;
    font-size: 13.7px;
}

.fontAboutUs{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

