.profileLeft{
	float: left;
	margin-left: 2%;
	width: 150px;
	background-color: #f8f8f8;
	padding: 2%;
}

.profileImg{
	padding-left: 34%;
	margin-bottom: 5%;
}

.profileName{
	font-family: 'Josefin Slab', serif;
	font-size: 18px;
	text-align: center;
}

.profilePoints{
	margin-top: 5%;
	font-family: 'Josefin Slab', serif;
	font-size: 14px;
	padding-left: 10%;
}

.mainContent{
	margin-bottom: 5%;
	margin-top: 2%;
	padding-bottom: 5%;
}

.centerProfileSection{
	background-color: #f8f8f8;
	margin-left: 21%;
	width: 60%;
	padding: 3%;
}

.question{
	font-family: 'Josefin Slab', serif;
    font-size: 18px;
    text-align: justify;
    color: #943437;
    font-weight: 900;
    padding: 2%
}

.answer{
	font-family: 'Josefin Slab', serif;
    font-size: 16px;
    text-align: justify;
    font-weight: 500;
	margin-top: 1%;
	background-color: #ebe6ff;
	padding: 2%;
}

.singleQuestion{
	margin: 3%; 
	padding: 3%;
}